# Django
*.pyc
__pycache__/
db.sqlite3
/media
/staticfiles
.env
*.log

# VS Code
.vscode/
.venv/

# OS files
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/